gb-pager.gb-stylish {
  display: flex;
}

gb-pager.gb-stylish .gb-pager {
  cursor: pointer;
}

gb-pager.gb-stylish .gb-pager {
  display: flex;
  text-decoration: none;
  color: #888;
  padding: 5px 14px;
}

gb-pager.gb-stylish .gb-pager:hover {
  color: black;
}

gb-pager.gb-stylish .gb-pager.gb-disabled {
  color: #ddd;
  cursor: not-allowed;
}

gb-pager.gb-stylish gb-pages {
  flex: 1;
}

gb-pager.gb-stylish gb-icon img {
  width: 20px;
}
